mongodb_password=cTAkMokURzqtB6NL
mongodb_url=mongodb+srv://cravingcloud13:cTAkMokURzqtB6NL@cravingcloud.vvcwk8n.mongodb.net/?retryWrites=true&w=majority&appName=CravingCloud
access_token_secret=CravingCloudAccessTokenSecret2025
access_token_expiry=1d
refresh_token_secret=CravingCloudRefreshTokenSecret2025
refresh_token_expiry=7d
firebase_apiKey=AIzaSyCCSY3xnoO3WPqIlZcv8dNT0SbQlZAyncs
firebase_authDomain=cravingcloud-15350.firebaseapp.com
firebase_projectId=cravingcloud-15350
firebase_storageBucket=cravingcloud-15350.firebasestorage.app
firebase_messagingSenderId=433287112627
firebase_appId=1:433287112627:web:c962e422f06bea8ed2cdc6
firebase_measurementId=G-8Z3PRSF3Q3